<div class="card-van">
  <%= cl_image_tag van.picture %>
  <span class="card-van-pricing"><%= van.price_per_day %>€</span>

  <div class="card-van-infos">
    <h2><%= van.title %></h2>

    <%= cl_image_tag van.owner.picture, width: 40, height: 40, crop: 'fill', gravity: 'faces', class: "card-van-owner avatar-bordered" %>

    <div class="card-infos">
      <p><%= van.brand %> <%= van.model %></p>
    </div>

  </div>
</div>
