<div class="card-van">
  <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= cl_image_path van.picture %>');">
  </div>

  <div class="card-van-infos">
    <div class="card-infos-header">
      <h2><%= van.title %></h2>
      <p class="model"><%= van.brand %> <%= van.model %></p>
    </div>

    <div class="card-price">
      <strong><%= van.price_per_day %>€</strong>
    </div>

  </div>
</div>
