<article class="card">
  <div class="card__left">
    <div class="card__image">
      <div class="image">
        <img src="<%= cl_image_path @van.picture, width: 1000, height: 700 %>" />
      </div>
      <!-- <div class="card__sale-flag">Available this week</div> -->
    </div>

    <%= link_to "Go back to list", vans_path(search: {begin_date: params.dig(:rent, :begin_date), end_date: params.dig(:rent, :end_date)}), class: 'back' %>
  </div>

  <div class="card__right">
    <div class="card__info">
      <h2 class="card__title"><%= @van.title %></h2>
      <p><strong><%= @van.brand%> <%= @van.model  %> | <%= @van.address %></strong></p>
      <%= cl_image_tag @van.owner.picture, width: 40, height: 40, crop: 'fill', gravity: 'faces', class: "card-van-owner avatar-bordered" %>
      <div class="card__price"><%= @van.price_per_day %>€</div>
      <p class="card__description">
        <%= @van.description %>
      </p>
      <%= link_to "Rent now", "#rent-van", class: "btn btn-light-pink card__cta" %>
    </div>
  </div>

  <div id="rent-van" class="modal-window">
    <div>
      <div class="card__price"><%= @van.price_per_day %>€/day</div>
      <a href="#" title="Close" class="modal-close">Close</a>

      <div class="rent__form">
        <%= simple_form_for [@van,@rent] do |f| %>

          <div class="form-group row">
            <%= f.input :begin_date, label: 'From', as: :string, required: false, input_html: {class: "rent_datepicker", id: "rent_start_date", value: params[:rent][:begin_date]} %>
          </div>

          <div class="form-group row">
            <%= f.input :end_date, label: 'To', as: :string, required: false, input_html: {class: "rent_datepicker", id: "rent_end_date", value: params[:rent][:end_date]} %>
          </div>

          <div class="form-group row buttons">
            <%= f.submit value: 'Rent', class: "btn btn-light-pink mr-5", id: "rent_btn" %>
            <span class="font-weight-bold d-inline mt-2 hidden" id="total_price"> Total price: </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="unav_dates">
    <%= @unavailable_dates.to_json %>
  </div>
</article>
