<div class="new-van">
  <div class="title-new">
    <h1>Please tell me more about this van</h1>
  </div>
  <div class="form-new">
    <%= simple_form_for [:owner, @van] do |f| %>
      <%= f.input :title %>

      <%= f.input :description %>

      <%= f.input :price_per_day %>

      <%= f.input :model %>

      <%= f.input :brand %>

      <%= f.input :brand %>

      <%#= f.input :picture %>
      <%#= f.input :picture_cache, as: :hidden %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
