<div class="container rents-dashboard text-left">
  <div class="d-flex justify-content-between">
    <h2 class="title-dashboard d-inline">My Rents</h2>
    <h3 class="title-dashboard d-inline earn">Earn: <%= current_user.total_earned %> <i class="fas fa-euro-sign"></i></h3>
  </div>
  <div class="tabs">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="false">All</a>
      <li class="nav-item">
        <a class="nav-link active" id="pills-pending-tab" data-toggle="pill" href="#pills-pending" role="tab" aria-controls="pills-pending" aria-selected="true">Pending</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-accepted-tab" data-toggle="pill" href="#pills-accepted" role="tab" aria-controls="pills-accepted" aria-selected="false">Accepted</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-declined-tab" data-toggle="pill" href="#pills-declined" role="tab" aria-controls="pills-declined" aria-selected="false">Declined</a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">
        <%= render 'rents', rents: @pending %>
      </div>
      <div class="tab-pane fade" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <%= render 'rents', rents: @rents %>
      </div>
      <div class="tab-pane fade" id="pills-accepted" role="tabpanel" aria-labelledby="pills-accepted-tab">
        <%= render 'rents', rents: @accepted %>
      </div>
      <div class="tab-pane fade" id="pills-declined" role="tabpanel" aria-labelledby="pills-declined-tab">
        <%= render 'rents', rents: @declined %>
      </div>
    </div>
  </div>
</div>

<div class="container my-vans">
  <div class="title-dashboard-with-button d-flex justify-content-between">
    <h2 class="d-inline">My Vans</h2>
    <%= link_to 'Add a van', new_owner_van_path, class: "btn btn-light-pink d-inline" %>
  </div>
  <div class="container-dashboard">
    <% @vans.each do |van| %>
      <div class="card-trip card-smaller">
        <%= cl_image_tag van.picture, height: 300, width: 300, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= van.title %></h2>
            <p><%= van.brand %>, <%= van.model %> </p>
          </div>
          <h2 class="card-trip-pricing"><%= van.price_per_day %>€</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>

 


