<div class="container text-center">
  <%= link_to 'Add a van', new_owner_van_path, class: "btn btn-light-pink" %>
    <h1>Mes Vans</h1>
  <div class="container-dashboard">
    <% @vans.each do |van| %>
      <div class="card-trip card-smaller">
        <%= cl_image_tag van.picture, height: 300, width: 300, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= van.title %></h2>
            <p><%= van.brand %>, <%= van.model %> </p>
          </div>
          <h2 class="card-trip-pricing"><%= van.price_per_day %>€</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container text-center">
<h1>Mes Rents</h1>
  <% @rents.each do |rent| %>
    <ul class="list-group">
      <li class="list-group-item-dashboard card-product">
        <div class="image-rent">
        <%= cl_image_tag rent.van.picture, height: 300, width: 300, crop: :fill %>
        </div>
        <div class="card-product-infos">
          <p>Request by: <%= rent.traveler.first_name %></p>
        </div>
        <div>
          <p>From <%= rent.begin_date %> to <%= rent.end_date %></p>
        </div>
        <div class="container text-center">
          <p>Total price: <%= rent.total_price %> €</p>
          <p>State: <%= rent.state %></p>

        </div>
        <div class="container text-right">
          <button type="button" class="btn btn-success">Accept</button>
          <button type="button" class="btn btn-danger">Decline</button>
        </div>
      </li>
    </ul>
  <% end %>
</div>

 


