<div class="container">
  <h2>Mes Vans</h2>
  <div class="container-dashboard">
    <% @vans.each do |van| %>
      <div class="card-trip card-smaller">
        <%= cl_image_tag van.picture, height: 300, width: 300, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= van.title %></h2>
            <p><%= van.brand %>, <%= van.model %> </p>
          </div>
          <h2 class="card-trip-pricing"><%= van.price_per_day %>€</h2>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Add a van', new_owner_van_path, class: "btn btn-light-pink" %>
</div>
<div class="container text-left">
<h2>Mes Rents</h2>
  <% @rents.each do |rent| %>
    <ul class="list-group">
      <li class="list-group-item-dashboard card-product">
        <div class="image-rent">
        <%= cl_image_tag rent.van.picture, height: 300, width: 300, crop: :fill %>
        </div>
        <div class="card-product-infos card-van-dashboard">
          <div class="card-van-dashboard-infos">
            <div class="info-traveler-dashboard">
              <%= cl_image_tag rent.traveler.picture, height: 100, width: 100, crop: :fill, gravity: :face, class: "avatar-bordered avatar-bordered-dashboard", alt: "avatar-bordered" %>
              <p class="m-0 text-center"><%= rent.traveler.first_name %></p>
            </div>
            <p class="m-0">From <%= rent.begin_date.to_formatted_s(:long) %> to <%= rent.end_date.to_formatted_s(:long) %></p>
            <p class="m-0"><%= rent.total_price %> €</p>
          </div>
          <div class="text-right card-van-dashboard-status">
            <button type="button" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Decline</button>
          </div>
        </div>
      </li>
    </ul>
  <% end %>
</div>

 


