<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="password-form p-4 rounded">
          <h2>Forgot your password?</h2>

            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, class: 'btn-light-pink btn-signing' "Send me reset password instructions" %>
              </div>
            <% end %>
            <class class="render">
              <%= render "devise/shared/links" %>
            </class>
        </div>
      </div>

    </div>
  </div>
</div>

