<div class="rent-container">

  <div class="rent-details">
    <div class="title-rent">
      <h2>Details of your rent</h2>
    </div>
    <div class="image">
      <%= cl_image_tag(@van.picture) %>
      <span class="state-rent"> <%= @rent.state %> </span>
    </div>
    <div class="rent-info">
      <div class="date-rent">
        <p>
          <%= @rent.begin_date.to_formatted_s(:short) %> - <%= @rent.end_date.to_formatted_s(:short) %>.
        </p>
      </div>
      <div class="van-title-rent">
        <h4><%= @van.title %></h4>
      </div>
      <div class="address-rent">
        <p><%= @van.address %></p>
      </div>
    </div>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >

  </div>
</div>
